<!DOCTYPE html>
<!-- saved from url=(0018)http://lmgtfy.com/ -->
@{
}
<html class="">
<head>	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta content="For all those people who find it more convenient to bother you with their question rather than google it for themselves." name="description">
	<title>Let me google that for you</title>
	<link href="./Let me google that for you_files/application-933639330a3e006d6afbe30653d1ce38.css" media="all" rel="stylesheet">
	<script src="./Let me google that for you_files/jquery.min.js">
	</script>
	<style type="text/css"></style>
	<script src="./Let me google that for you_files/application-e7cfac3cdc61899426606b5b3e782f63.js"></script>
	<link href="./Let me google that for you_files/css" rel="stylesheet" type="text/css">
	<script src="./Let me google that for you_files/links-eeb0e05bcf15d8c843f393aff4b6d122.js"></script>
	<style type="text/css">.fancybox-margin{margin-right:17px;}</style>
</head>
<body>
	<div class="modal" id="more-languages"></div>
	<center class="primary">
		<div class="logo">
			<span rel="localize[pre_logo]">Permita-me usar o</span>
			<img id="logo" src="./Let me google that for you_files/logo11w.png" style="opacity: 1;">
			<span rel="localize[post_logo]">pra você</span>
		</div>
		<form class="search form-group">
			<div class="form-group">
			<input class="form-control input-sm" id="search-term" size="55" title="Google Search" type="text" value="">
			<input class="form-control input-sm" id="hidden-term" size="55" title="Google Search" type="hidden" value="">
			<input class="btn btn-sm btn-default" id="search" rel="localize[search_button]" type="button" value="Pesquisa Google">
			</div>
		</form>
		<div id="alert" style="display:none; color:#666;"></div>
		<div id="instructions">Digite a pergunta, clique em um botão.</div>
		<div id="link_placeholder"></div>
		<div id="link"><input class="link copyable" readonly="" type="text">
		<div id="link_message" style="display: none;"></div>
		<div id="link_buttons" style="display: none;">
		<a class="link_button" href="http://lmgtfy.com/#" id="copy" rel="localize[link.copy]">copiar</a>
		<a class="link_button" href="http://lmgtfy.com/#" id="reset" rel="localize[link.reset]">refazer</a>
		<a class="link_button" href="http://lmgtfy.com/#" id="shorten" rel="localize[link.shorten]">shorten</a>
		<a class="link_button" href="http://lmgtfy.com/#" id="go" rel="localize[link.go]">ir</a>
		</div></div>
		
		</div><p>
<a class="again" href="http://lmgtfy.com/#">Play it again</a> or 
<a href="./Let me google that for you_files/Let me google that for you.htm">Create one yourself.</a>
</p>
</div>
</center>
<div id="footer">
<img alt="Mouse arrow windows aero" id="fake_mouse" src="./Let me google that for you_files/mouse_arrow_windows_aero-b118000dc97d4558d6db021793acc613.png" style="display: none">
</div>
</body>
</html>